{% extends "layout.html" %}

{% block content %}

    <p>
        Wellcome to our restaurant!
    </p>

    <p>
        <a href="/order"/>Order Food</a>
    </p>

    {% if orders %}
    <p>
        You have {{ orders|length }} order(s).
        <ul>
        {% for order in orders %}
            <li>
                {{ order.dessert }}
                {% if order.mitVanillaSauce %}
                    mit vanilla sauce
                {% endif %}                
            </li>
        {% endfor %}
        </ul>        
        <a href="/clear"/>Clear</a>
    </p>
    {% else %}
        You have no order.
    {% endif %}

{% endblock %}
